<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        .table-editable{position:relative}.table-editable .glyphicon{font-size:20px}.table-remove{color:#700;cursor:pointer}.table-remove:hover{color:red}.table-down,.table-up{color:#007;cursor:pointer}.table-down:hover,.table-up:hover{color:#00f}.table-add{color:#070;cursor:pointer;position:absolute;top:8px;right:0}.table-add:hover{color:#0b0}
    </style>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
