{% extends 'base.html.twig' %}

{% block body %}
    <a href='{{path("cocktail_index")}}'>Cocktails</a><br>
    <a href='{{path("cocktailingredient_index")}}'>Cocktail Ingredients</a><br>
    <a href='{{path("ingredient_index")}}'>Ingredient</a><br>
{% endblock %}
