{% extends 'base.html.twig' %}

{% block body %}
    <h1>CocktailIngredient list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cocktailIngredient in cocktailIngredients %}
            <tr>
                <td><a href="{{ path('cocktailingredient_show', { 'id': cocktailIngredient.id }) }}">{{ cocktailIngredient.id }}</a></td>
                <td>{{ cocktailIngredient.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cocktailingredient_show', { 'id': cocktailIngredient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cocktailingredient_edit', { 'id': cocktailIngredient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cocktailingredient_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
