{% extends 'base.html.twig' %}

{% block body %}
    <h1>CocktailIngredient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cocktailIngredient.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ cocktailIngredient.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cocktailingredient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cocktailingredient_edit', { 'id': cocktailIngredient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
