{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cocktail list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cocktail in cocktails %}
            <tr>
                <td><a href="{{ path('cocktail_show', { 'id': cocktail.id }) }}">{{ cocktail.id }}</a></td>
                <td>{{ cocktail.name }}</td>
                <td>{{ cocktail.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cocktail_show', { 'id': cocktail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cocktail_edit', { 'id': cocktail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cocktail_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
